html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  color: #292929;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 140%;
}
/*section {
  height: 800px;
}*/
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  height: 100vh;
  padding: 64px 120px 0;
  background-image: url(imgs/headphones-hero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header__top {
  display: flex;
  justify-content: space-between;
}
.header__top__logo__icon {
  width: 190px;
  height: 24px;
}
.header__top__menu__icon {
  width: 18px;
  height: 12px;
}
.header__bottom img {
  margin-bottom: 40px;
}
.header__title {
  margin-top: 0;
  font-style: italic;
  font-weight: 800;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -1.5px;
}
.menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 500ms;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 60px 120px;
  background-color: #e8eff9;
}
.menu:target {
  transform: translateX(0);
}
.menu__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.menu__top__logo {
  width: 190px;
  height: 24px;
}
.nav {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.nav__link {
  text-decoration: none;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #292929;
}
.main {
  padding: 120px;
  background-color: white;
}
.recommended__title {
  margin-top: 0;
  margin-bottom: 64px;
  font-weight: bold;
  font-size: 48px;
  line-height: 100%;
  text-align: center;
  letter-spacing: -1.5px;
  color: #292929;
}
.categories__title {
  margin-top: 0;
  margin-bottom: 64px;
  font-weight: bold;
  font-size: 48px;
  line-height: 100%;
  text-align: center;
  letter-spacing: -1.5px;
  color: #292929;
}

.recommended {
  margin-bottom: 120px;
}
.recommended__products {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.product {
  flex-basis: 324px;
}
.product__photo {
  width: 100%;
  margin-bottom: 32px;
}

.product__title {
  margin-top: 0px;
  margin-bottom: 8px;
  font-size: 100%;
  line-height: 140%;
}
.product__category {
  margin-top: 0;
  margin-bottom: 12px;
}
.product__price {
  margin: 0;
  font-weight: bold;
}
.categories {
  margin: 0 auto;
  max-width: 1020px;
  margin-bottom: 120px;
}
.category {
  margin-bottom: 64px;
}
.category__photos {
  display: flex;
  gap: 3%;
  margin: 16px;
}
.category__title {
  margin: 0 0 0 16px;
}
.photo__wide {
  width: 65%;
}
.photo-square {
  width: 32%;
}
.how-to-buy {
  display: flex;
  margin: 0 auto;
  max-width: 1020px;
  gap: 24px;
}
.how-to-buy__content {
  flex-basis: 50%;
}

.how-to-buy__title {
  flex-basis: 50%;
  margin-top: 0;
  margin-bottom: 64px;
  font-weight: bold;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -1.5px;
  color: #292929;
}
.how-to-buy__benefits {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: bold;
  margin-bottom: 40px;
}
.footer {
  background-image: url("./imgs/footer.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: sticky;
  bottom: 0;
  z-index: -1;
  height: 460px;
}
